<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Adicionar Nova</mat-toolbar>

    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" />
        <!--name esta associado da maneira como esta em course-form.component.ts-->
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label for="categoria">Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="front-end">front-end</mat-option>
          <mat-option value="back-end">back-end</mat-option>
        </mat-select>
        <!--name esta associado da maneira como esta em course-form.component.ts-->
      </mat-form-field>

      <mat-card-actions>
        <button (click)="adicionarCurso()" mat-flat-button color="primary">
          Adicionar
        </button>
        <button (click)="cancelarAdicao()" mat-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
